{% extends 'uesperaBundle::Layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}    
    <script type="text/javascript" src="{{ asset('bundles/uespera/js/alertify.js-0.3.11/mensajes.js') }}" ></script>
{% endblock %}

{% block body -%}
    <div id="form_wrapper">
        
        <section>
            <div id="nombre_form">
                <h1>Nueva Garantía</h1>
                <div class="btns">                
                    <button class="cancelar" onclick="location.href='{{ path('garantia') }}';"> Cancelar </button>
                    {#<button class="guardar" title="Guardar" onclick="document.getElementById('garantia_form').submit();">Guardar</button>#}                 
                    <button class="guardar" title="Guardar">Guardar</button>                 
                </div>
            </div>    
        </section>
        
        <form id="garantia_form" action="{{ path('garantia_create') }}" method="post" {{ form_enctype(form) }}> 
            {{ form_errors(form) }}
                
            <section>
                <div class="top">
                    <h2>Información General</h2>
                </div>
                <div class="content_wrapper padding">
                    <p class="col1"></p>
                    <p class="col1">
                        {{ form_label(form.tipogarantia) }}
                        {{ form_widget(form.tipogarantia) }}
                    </p>
                    <p class="col1"></p>
                </div>
            </section>        
                
            {{ form_rest(form) }}    
        </form> 
        
    </div>

{#<ul class="record_actions">
    <li>
        <a href="{{ path('garantia') }}">
            Back to the list
        </a>
    </li>
</ul>#}
{% endblock %}

{% block script -%}
    <script>
        
        // Validación y submit del formulario
        $('button.guardar').click(function(){
            alertify.confirm("¿ Está seguro de realizar esta operación ?", function (e){
                if(e){
                    var i=0;
                    
                    $("form#garantia_form input[type=text]").each(function(){
                        var input = $(this); // This is the jquery object of the input, do what you will
                        var attr = input.attr('required');
                        
                        if(attr === 'required' && !input.val())
                            i++;
                    });
                    
                    if(i > 0)
                        mensaje_error("¡ ERROR ¡, Existen campos sin llenar.");
                    else
                        $('#garantia_form').submit();
                }                
            });                
        });
        
    </script>
{% endblock %} 