{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ClienteDomicilio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Deptoclientedomicilio</th>
                <td>{{ entity.deptoclientedomicilio }}</td>
            </tr>
            <tr>
                <th>Municipioclientedomicilio</th>
                <td>{{ entity.municipioclientedomicilio }}</td>
            </tr>
            <tr>
                <th>Direccionclientedomicilio</th>
                <td>{{ entity.direccionclientedomicilio }}</td>
            </tr>
            <tr>
                <th>Telefonoclientedomicilio</th>
                <td>{{ entity.telefonoclientedomicilio }}</td>
            </tr>
            <tr>
                <th>Horarioclientedomicilio</th>
                <td>{{ entity.horarioclientedomicilio }}</td>
            </tr>
            <tr>
                <th>Aniosresidenciaclientedomicilio</th>
                <td>{{ entity.aniosresidenciaclientedomicilio }}</td>
            </tr>
            <tr>
                <th>Alquilerclientedomicilio</th>
                <td>{{ entity.alquilerclientedomicilio }}</td>
            </tr>
            <tr>
                <th>Institucionclientedomicilio</th>
                <td>{{ entity.institucionclientedomicilio }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('clientedomicilio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('clientedomicilio_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
