{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IngresosFamiliares list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salariosingfamiliares</th>
                <th>Alquileresingfamiliares</th>
                <th>Remesasingfamiliares</th>
                <th>Pensionesingfamiliares</th>
                <th>Otrosingresosingfamiliares</th>
                <th>Totalingfamiliares</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ingresosfamiliares_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.salariosingfamiliares }}</td>
                <td>{{ entity.alquileresingfamiliares }}</td>
                <td>{{ entity.remesasingfamiliares }}</td>
                <td>{{ entity.pensionesingfamiliares }}</td>
                <td>{{ entity.otrosingresosingfamiliares }}</td>
                <td>{{ entity.totalingfamiliares }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ingresosfamiliares_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ingresosfamiliares_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ingresosfamiliares_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
