{% extends 'uesperaBundle::Layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/uespera/js/Zebra_Datepicker-master/public/css/metallic.css') }}" rel="stylesheet" type="text/css" /> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/uespera/js/modernizr.custom.91424.js') }}" ></script> 
    <script type="text/javascript" src="{{ asset('bundles/uespera/js/jquery.maskedinput.js') }}" ></script>           
    <script type="text/javascript" src="{{ asset('bundles/uespera/js/jquery.price_format.2.0.min.js') }}" ></script>            
    <script type="text/javascript" src="{{ asset('bundles/uespera/js/Zebra_Datepicker-master/public/javascript/zebra_datepicker.js') }}" ></script>           
{% endblock %}

{% block body -%}
    <div id="fixed_menu">
        <div id="nombre_form_fixed">
            <h1>Nuevo Cliente</h1>
            <div class="btns_fixed">                
                <button class="cancelar" title="Cancelar" onclick="location.href='{{ path('cliente') }}';"> Cancelar </button>
                <button class="guardar" title="Guardar" onclick="document.getElementById('cliente_form').submit();">Guardar</button>               
            </div>
        </div>
    </div>
    
    <div id="form_wrapper">
        <div id="nombre_form">
            <h1>Modificar Cliente</h1>
            <div class="btns">                
                <button class="cancelar" title="Cancelar" onclick="location.href='{{ path('cliente') }}';"> Cancelar </button>
                <button class="guardar" title="Guardar" onclick="document.getElementById('cliente_form').submit();">Guardar</button>               
            </div>
        </div>
            
        <form id="cliente_form" action="{{ path('cliente_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <input type="hidden" name="_method" value="PUT" />
            {{ form_errors(edit_form) }}     
            
            <section>
                <div class="top">
                    <h2>Información General</h2>
                </div>
                <div class="content_wrapper padding"> 
                    <p class="col1">
                      {{ form_label(edit_form.sexocliente) }}
                      {{ form_widget(edit_form.sexocliente) }}                    
                    </p>  
                    <p class="col1">
                      {{ form_label(edit_form.nombrescliente) }}
                      {{ form_widget(edit_form.nombrescliente) }}  
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.primapellidocliente) }}
                      {{ form_widget(edit_form.primapellidocliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.segapellidocliente) }}
                      {{ form_widget(edit_form.segapellidocliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.lecturafirmacliente) }}
                      {{ form_widget(edit_form.lecturafirmacliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.duicliente) }}
                      {{ form_widget(edit_form.duicliente) }}          
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.duifechaexpcliente) }}
                      {{ form_widget(edit_form.duifechaexpcliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.duilugarexpcliente) }}
                      {{ form_widget(edit_form.duilugarexpcliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.issscliente) }}
                      {{ form_widget(edit_form.issscliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.nitcliente) }}
                      {{ form_widget(edit_form.nitcliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.telefonocliente) }}
                      {{ form_widget(edit_form.telefonocliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.profesioncliente) }}
                      {{ form_widget(edit_form.profesioncliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.estadocivilcliente) }}
                      {{ form_widget(edit_form.estadocivilcliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.nomconyugcliente) }}
                      {{ form_widget(edit_form.nomconyugcliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.numhijocliente) }}
                      {{ form_widget(edit_form.numhijocliente) }}
                    </p>
                    <p class="col1">
                      {{ form_label(edit_form.fechaingresocliente) }}
                      {{ form_widget(edit_form.fechaingresocliente) }}
                    </p>            
                </div>   
            </section>
            
            <section>
                <div class="top">
                    <h2>Domicilio</h2>
                    <a class="add_domicilio_link" title="Agregar Domicilio" href="#"></a>      
                </div>
                <div class="content_wrapper">
                    <ul class="domicilio" data-prototype="{{ form_widget(edit_form.clientedomicilio.vars.prototype)|e }}">
                        {% for domicilio in edit_form.clientedomicilio %}
                            <li> 
                                {{ form_row(domicilio) }} 
                                <a class="link" href="#""></a>
                            </li>
                        {% endfor %}    
                    </ul>
                </div> 
            </section>
            
            <section>
                <div class="top">
                    <h2>Referencias Familiares</h2>
                    <a class="add_reffam_link" title="Agregar Referencia Familiar" href="#"></a>
                </div>
                <div class="content_wrapper">
                    <ul class="reffam" data-prototype="{{ form_widget(edit_form.refsfamiliar.vars.prototype)|e }}">
                        {% for reffam in edit_form.refsfamiliar %}
                            <li> 
                                {{ form_row(reffam) }} 
                                <a class="link" href="#""></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            
            <section>
                <div class="top">
                    <h2>Referencias Laborales</h2>
                    <a class="add_reflab_link" title="Agregar Referencia Laboral" href="#"></a>
                </div>
                <div class="content_wrapper">                          
                    <ul class="reflabs" data-prototype="{{ form_widget(edit_form.refslaboral.vars.prototype)|e }}">
                        {% for reflab in edit_form.refslaboral %}
                            <li> 
                                {{ form_row(reflab) }} 
                                <a class="link" href="#""></a>
                            </li>
                        {% endfor %}    
                    </ul>
                </div>
            </section>
            
            <section>
                <div class="top">
                    <h2>Garantias</h2>
                    <a class="add_garantias_link" title="Agregar Garantia" href="#"></a> 
                </div>
                <div class="content_wrapper">      
                    <ul class="garantias" data-prototype="{{ form_widget(edit_form.clientegarantias.vars.prototype)|e }}">
                        {% for garantia in edit_form.clientegarantias %}
                            <li> 
                                {{ form_row(garantia) }} 
                                <a class="link" href="#""></a>
                            </li>
                        {% endfor %}    
                    </ul>
                </div>
            </section>
            
            <section>
                <div class="top">
                    <h2>Ingresos y Gastos Familiares</h2>
                </div>
                <div class="content_wrapper">
                    <div class="col padding">
                        <legend>Ingresos</legend>
                        <p>
                            {{ form_label(edit_form.ingresosfamiliares.salariosingfamiliares) }}
                            {{ form_widget(edit_form.ingresosfamiliares.salariosingfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.ingresosfamiliares.alquileresingfamiliares) }}
                            {{ form_widget(edit_form.ingresosfamiliares.alquileresingfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.ingresosfamiliares.remesasingfamiliares) }}
                            {{ form_widget(edit_form.ingresosfamiliares.remesasingfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.ingresosfamiliares.pensionesingfamiliares) }}
                            {{ form_widget(edit_form.ingresosfamiliares.pensionesingfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.ingresosfamiliares.otrosingresosingfamiliares) }}
                            {{ form_widget(edit_form.ingresosfamiliares.otrosingresosingfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.ingresosfamiliares.totalingfamiliares) }}
                            {{ form_widget(edit_form.ingresosfamiliares.totalingfamiliares) }}
                        </p>
                        
                    </div>

                    <div class="col padding border_left">
                        <legend>Gastos</legend>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.alimentaciongasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.alimentaciongasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.educaciongasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.educaciongasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.alquilergasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.alquilergasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.serviciosgasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.serviciosgasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.transportegasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.transportegasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.saludgasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.saludgasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.prestamospersgasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.prestamospersgasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.otrosgastosgasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.otrosgastosgasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.imprevistosgasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.imprevistosgasfamiliares) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.gastosfamiliares.totalgasfamiliares) }}
                            {{ form_widget(edit_form.gastosfamiliares.totalgasfamiliares) }}
                        </p>
                    </div>
                </div>
            </section>
            
            <section> 
                <div class="top">
                    <h2>Información del Negocio</h2>
                </div>
                <div class="content_wrapper padding">
                    <p class="col1">
                        {{ form_label(edit_form.negocio.nombrenegocio) }}
                        {{ form_widget(edit_form.negocio.nombrenegocio) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.deptonegocio) }}
                        {{ form_widget(edit_form.negocio.deptonegocio) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.municipionegocio) }}
                        {{ form_widget(edit_form.negocio.municipionegocio) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.direccionnegocio) }}
                        {{ form_widget(edit_form.negocio.direccionnegocio) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.telefononegocio) }}
                        {{ form_widget(edit_form.negocio.telefononegocio) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.horarionegocio) }}
                        {{ form_widget(edit_form.negocio.horarionegocio) }}
                    </p>
                </div>
            </section>
              
            <section>   
                <div class="top">
                    <h2>Gastos Generales del Negocio</h2>
                </div>
                <div class="content_wrapper padding">
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.sueldosggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.sueldosggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.alquileresggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.alquileresggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.serviciosggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.serviciosggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.transporteggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.transporteggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.bodegaggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.bodegaggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.impuestosggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.impuestosggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.cuotaptmosggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.cuotaptmosggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.otrosgastosggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.otrosgastosggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.imprevistosggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.imprevistosggn) }}
                    </p>
                    <p class="col1">
                        {{ form_label(edit_form.negocio.gastosgrlnegocio.totalggn) }} 
                        {{ form_widget(edit_form.negocio.gastosgrlnegocio.totalggn) }}
                    </p>
                </div> 
            </section>
            
            <section>
                <div class="top">
                    <h2>Flujo de Caja</h2>
                </div>
                <div class="content_wrapper">
                    <div class="col padding border_right">
                        <legend>Ingresos</legend>                        
                        <p>
                            {{ form_label(edit_form.negocio.ingresoflujocaja.ventacontadoifc) }} 
                            {{ form_widget(edit_form.negocio.ingresoflujocaja.ventacontadoifc) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.ingresoflujocaja.recuentaxcobrarifc) }} 
                            {{ form_widget(edit_form.negocio.ingresoflujocaja.recuentaxcobrarifc) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.ingresoflujocaja.ventascreditoifc) }} 
                            {{ form_widget(edit_form.negocio.ingresoflujocaja.ventascreditoifc) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.ingresoflujocaja.otrosingresosifc) }} 
                            {{ form_widget(edit_form.negocio.ingresoflujocaja.otrosingresosifc) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.ingresoflujocaja.totalifc) }} 
                            {{ form_widget(edit_form.negocio.ingresoflujocaja.totalifc) }}
                        </p>
                    </div>
                    <div class="col padding">
                        <legend>Gastos</legend>
                        <p>
                            {{ form_label(edit_form.negocio.gastosflujocaja.compramercaderiagfc) }} 
                            {{ form_widget(edit_form.negocio.gastosflujocaja.compramercaderiagfc) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.gastosflujocaja.gastosnegociogfc) }} 
                            {{ form_widget(edit_form.negocio.gastosflujocaja.gastosnegociogfc) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.gastosflujocaja.gastosfamiliaresgfc) }} 
                            {{ form_widget(edit_form.negocio.gastosflujocaja.gastosfamiliaresgfc) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.gastosflujocaja.totalgfc) }} 
                            {{ form_widget(edit_form.negocio.gastosflujocaja.totalgfc) }}
                        </p>
                    </div>
                </div>    
            </section>
            
            <section>
                <div class="top">
                    <h2>Balance General</h2>
                </div>
                <div class="content_wrapper">
                    <div class="col padding border_right">
                        <legend>Activos</legend>
                        <p>
                            {{ form_label(edit_form.negocio.activobg.disponibleabg) }} 
                            {{ form_widget(edit_form.negocio.activobg.disponibleabg) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.activobg.cuentasxcobrarabg) }} 
                            {{ form_widget(edit_form.negocio.activobg.cuentasxcobrarabg) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.activobg.inventariosabg) }} 
                            {{ form_widget(edit_form.negocio.activobg.inventariosabg) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.activobg.activofijoabg) }} 
                            {{ form_widget(edit_form.negocio.activobg.activofijoabg) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.activobg.totalabg) }} 
                            {{ form_widget(edit_form.negocio.activobg.totalabg) }}
                        </p> 
                    </div>
                    <div class="col padding">
                        <legend>Pasivos</legend>
                        <p>
                            {{ form_label(edit_form.negocio.pasivopatrimoniobg.proveedoresppbg) }} 
                            {{ form_widget(edit_form.negocio.pasivopatrimoniobg.proveedoresppbg) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.pasivopatrimoniobg.prestamosinstppbg) }} 
                            {{ form_widget(edit_form.negocio.pasivopatrimoniobg.prestamosinstppbg) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.pasivopatrimoniobg.otrosprestppbg) }} 
                            {{ form_widget(edit_form.negocio.pasivopatrimoniobg.otrosprestppbg) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.pasivopatrimoniobg.patrimonioppbg) }} 
                            {{ form_widget(edit_form.negocio.pasivopatrimoniobg.patrimonioppbg) }}
                        </p>
                        <p>
                            {{ form_label(edit_form.negocio.pasivopatrimoniobg.totalppbg) }} 
                            {{ form_widget(edit_form.negocio.pasivopatrimoniobg.totalppbg) }}
                        </p>
                    </div>
                </div>    
            </section>
             
            {{ form_rest(edit_form) }}
        </form>    
    </div>
    
    {#{{ form(edit_form) }}#}
       
    {# <ul class="record_actions">
        <li>
            <a href="{{ path('cliente') }}">
                Back to the list
            </a>
        </li>
        
     </ul> #}
{% endblock %}
            
{% block script -%}
    <script>
        
    $(document).ready(function() {
        
        $("#ues_perabundle_cliente_duicliente").mask("99999999-9",{placeholder:"_"});
        $("#ues_perabundle_cliente_nitcliente").mask("9999-999999-999-9",{placeholder:"_"});
        $("#ues_perabundle_cliente_telefonocliente").mask("9999-9999",{placeholder:"_"});
        $("#ues_perabundle_cliente_negocio_telefononegocio").mask("9999-9999",{placeholder:"_"});
        
        $('input[id*="_telefonoreflaboral"]').mask("9999-9999",{placeholder:"_"});
        $('input[id*="_telefonoreffamiliar"]').mask("9999-9999",{placeholder:"_"});
        $('input[id*="_telefonoclientedomicilio"]').mask("9999-9999",{placeholder:"_"});
        $(".date").mask("99-99-9999",{placeholder:""});
        
        $(".money").priceFormat({
                    prefix: ''
                });
                
        var collectionHolder  = $('ul.reflabs');
        collectionHolder.data('index', collectionHolder.find(':input').length);
        
        $('.add_reflab_link').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm(collectionHolder);
        });
        
        var collectionHolder2  = $('ul.reffam');
        collectionHolder2.data('index', collectionHolder.find(':input').length);
        
        $('.add_reffam_link').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm(collectionHolder2);
        });
        
        var collectionHolder3  = $('ul.garantias');
        collectionHolder3.data('index', collectionHolder.find(':input').length);
        
        $('.add_garantias_link').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm(collectionHolder3);
        });
        
        var collectionHolder4  = $('ul.domicilio');
        collectionHolder4.data('index', collectionHolder.find(':input').length);
        
        $('.add_domicilio_link').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm(collectionHolder4);
        });
        
        $('.link').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $(this).parent('li').remove();
        });
        
    });    
    
    function addTagForm(collectionHolder) {
        // Get the data-prototype explained earlier
        var prototype = collectionHolder.data('prototype');
            
        // get the new index
        var index = collectionHolder.data('index');
            
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
            
        // increase the index with one for the next item
        collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append('<div>'+newForm+'</div>');
            
        collectionHolder.append($newFormLi);

        // add a delete link to the new form
        addTagFormDeleteLink($newFormLi);
        
        $('input[id*="_telefonoreflaboral"]').mask("9999-9999",{placeholder:"_"});
        $('input[id*="_telefonoreffamiliar"]').mask("9999-9999",{placeholder:"_"});
        $('input[id*="_telefonoclientedomicilio"]').mask("9999-9999",{placeholder:"_"});
    }
    
    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a class="link" href="#"></a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
        
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $tagFormLi.remove();

        });
    }
    
    //if (!Modernizr.inputtypes['date']) {
            $('.date').Zebra_DatePicker({
                        direction: false,
                        readonly_element: false,        
                        format: 'd-m-Y'
                    });
    //}
    
    $('.ingfamiliares').focusout(function() {
        var sum = 0;
        $('.ingfamiliares').each(function(){
            if($(this).val() !== '')
                sum += parseFloat( $(this).val().replace(/,/g,'') ); 
        });
        $('#ues_perabundle_cliente_ingresosfamiliares_totalingfamiliares').val(sum.toFixed(2));
    });
        
    $('.gasfamiliares').focusout(function() {
        var sum = 0;
        $('.gasfamiliares').each(function(){
            if($(this).val() !== '')
                sum += parseFloat( $(this).val().replace(/,/g,'') ); 
        });
        $('#ues_perabundle_cliente_gastosfamiliares_totalgasfamiliares').val(sum.toFixed(2));
    });
        
    $('.ggn').focusout(function() {
        var sum = 0;
        $('.ggn').each(function(){
            if($(this).val() !== '')
                sum += parseFloat( $(this).val().replace(/,/g,'') ); 
        });
        $('#ues_perabundle_cliente_negocio_gastosgrlnegocio_totalggn').val(sum.toFixed(2));
    });
       
    $('.ifc').focusout(function() {
        var sum = 0;
        $('.ifc').each(function(){
            if($(this).val() !== '')
                sum += parseFloat( $(this).val().replace(/,/g,'') ); 
        });
        $('#ues_perabundle_cliente_negocio_ingresoflujocaja_totalifc').val(sum.toFixed(2));
    });
       
    $('.gfc').focusout(function() {
        var sum = 0;
        $('.gfc').each(function(){
            if($(this).val() !== '')
                sum += parseFloat( $(this).val().replace(/,/g,'') ); 
        });
        $('#ues_perabundle_cliente_negocio_gastosflujocaja_totalgfc').val(sum.toFixed(2));
    });
        
    $('.abg').focusout(function() {
        var sum = 0;
        $('.abg').each(function(){
            if($(this).val() !== '')
                sum += parseFloat( $(this).val().replace(/,/g,'') ); 
        });
        $('#ues_perabundle_cliente_negocio_activobg_totalabg').val(sum.toFixed(2));
    });
        
    $('.ppbg').focusout(function() {
        var sum = 0;
        $('.ppbg').each(function(){
            if($(this).val() !== '')
                sum += parseFloat( $(this).val().replace(/,/g,'') ); 
        });
        $('#ues_perabundle_cliente_negocio_pasivopatrimoniobg_totalppbg').val(sum.toFixed(2));
    });
    
    $(window).scroll(function(){
		            
                var window_top = $(window).scrollTop();
                var div_top = $('#form_wrapper').offset().top;
                //alert(div_top);
                if(window_top > div_top){
                    $('#fixed_menu').css('visibility','visible');
                }
                else{
                    $('#fixed_menu').css('visibility','hidden');
                }
                
    });
    
    </script>
{% endblock %}