{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ActivoBg list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Disponibleabg</th>
                <th>Cuentasxcobrarabg</th>
                <th>Activofijoabg</th>
                <th>Totalabg</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('activobg_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.disponibleabg }}</td>
                <td>{{ entity.cuentasxcobrarabg }}</td>
                <td>{{ entity.activofijoabg }}</td>
                <td>{{ entity.totalabg }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('activobg_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('activobg_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('activobg_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
